<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-label>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        Editar usuario
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Salir
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Letras</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="paper" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Tipo de letra</ion-label>
      <ion-select [(ngModel)]="letra">
        <ion-select-option *ngFor="let letra of tipoLetras" [value]="letra">{{letra}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="information" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Mayúscula-Minúscula</ion-label>
      <ion-select [(ngModel)]="tama">
        <ion-select-option *ngFor="let tama of mayusculaMinuscula" [value]="tama">{{tama}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Varios</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="musical-notes" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Sonido</ion-label>
      <ion-toggle [(ngModel)]="enableSound"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary"> Notificaciones </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
