<ion-content padding class="animated fadeIn login auth-page">
  <div class="auth-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          CONALFAPP
        </ion-text>
      </h4>
    </div>
    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()" tappable>
        <ion-icon name="log-in"></ion-icon>
        Haz clic para continuar
      </ion-button>
    </div>
  </div>
</ion-content>